[Unit]
Description=Configure Tailscale as exit node
After=tailscaled.service wg-config.service kill-switch.service
Requires=tailscaled.service wg-config.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/local/bin/ts-configure.sh
PassEnvironment=TS_AUTHKEY TS_HOSTNAME TS_EXTRA_ARGS
ExecStartPre=/bin/sleep 3

[Install]
WantedBy=multi-user.target
