[Unit]
Description=Bring up warp0 (Cloudflare WARP) WireGuard interface
Before=kill-switch.service tailscaled.service network-online.target
After=systemd-sysctl.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/local/bin/wg-config.sh
ExecStop=/sbin/ip link del warp0

[Install]
WantedBy=multi-user.target