[Unit]
Description=Bring up proton0 WireGuard interface
Before=kill-switch.service tailscaled.service network-online.target
After=systemd-sysctl.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/local/bin/wg-config.sh
ExecStop=/sbin/ip link del proton0
PassEnvironment=WG_PRIVATE_KEY WG_PEER_PUBLIC_KEY WG_ENDPOINT WG_ADDRESS WG_DNS

[Install]
WantedBy=multi-user.target
